body{
    margin: 0px;
    background-color: rgb(228, 222, 222);
}
#p1{
    width: 100%;
    height: 900px;
    position: relative;
    background-color: rgb(228, 222, 222);
}
#p2{
    width: 100%;
    height: 600px;
    position: relative;
    left: 1.7%;
    background-image: url("image/okke.jpg");
    overflow: hidden;
    background-repeat:no-repeat;
    overflow: hidden;

 
}
#p3{
    width: 100%;
    height: 300px;
    position: relative;
    background-color: rgb(221, 213, 213);
}
#p4{
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("image/000.jpg");
    background-repeat:no-repeat;
    left: 1.7%;
    overflow: hidden;
}
#p5{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: rgb(219, 212, 212);
}